<% if current_user == @post.user %>
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
    <%= link_to "Delete", post_path(@post), method: :delete, class: "btn btn-danger" %>
<% end %>

<h1><%= @post.title %></h1>

<p><%= @post.pretty_word_count %></p>

<br>

<p><%= @post.body %></p>

<br>

<p>Written by <%= @post.user.email %></p>
