<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete %>

<h1><%= @post.title %></h1>
<p><%= @post.pretty_word_count %></p>

<br>

<p><%= @post.body %></p>
