<% if current_user == @post.user %>
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
    <%= link_to "Delete", post_path(@post), method: :delete, class: "btn btn-danger" %>
<% end %>

<h1><%= @post.title %></h1>

<p><%= @post.pretty_word_count %></p>

<br>

<p><%= @post.body.html_safe %></p>

<br>

<p>Written by <%= @post.user.email %></p>

<% if user_signed_in? %>
  <h3>
    <%= link_to "#heart", class: "js-heart-post", data: { url: "/posts/#{@post.id}/post_likes" } do %>
      <%= fa_icon post_like_icon_class(@post) %>
    <% end %>
    <span class="js-heart-count heart-count"> <%= @post.post_likes.count %></span>
  </h3>
<% end %>