<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <script src="https://cdn.quilljs.com/1.1.9/quill.js"></script>
  <link href="https://cdn.quilljs.com/1.1.9/quill.snow.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "shared/navbar" %>

<% if alert %>
  <p class="alert bg-warning"><%= alert %></p>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
